* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("https://static.vecteezy.com/system/resources/previews/002/202/047/original/blue-high-tech-futuristic-cyberspace-technology-background-free-vector.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

canvas {
    position: absolute;
}

#video {
    width: 60vw;
    border-radius: 12px;
}

@media only screen and (max-width: 767px) {


    #video {
        width: 100vw;
        border-radius: 12px;
    }
}